@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --PrimaryAccent: #000000;
  --SecondaryAccent: #000000;
  --TertiaryAccent: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --PrimaryAccent: #000000;
    --SecondaryAccent: #000000;
    --TertiaryAccent: #000000;
  }
}

body {
background: white
}


